/* =============== GENERAL SETTINGS =============== */
.form{
    width: min(36rem, 90%);
}

.form-instruction{
    text-align: right;
    margin-bottom: 1.2rem;
}

.form-instruction > p,
.form-instruction > span{
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
}

.form-instruction > span{
    color: #ff0202;
}

.form-dision{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 1rem;
}

.form-dision > input{
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 2rem;

    font-size: 1.4rem;
}

.form-dision > input:first-child{
    border-radius: 1rem 1rem 0 0;
}

.form-dision > input:last-child,
.form-dision_textarea{
    border-radius: 0 0 1rem 1rem;
}

.form-dision_inputfull{
    display: block;
    width: 100%;
}

.form-dision_inputfull::placeholder{
    color: var(--placeholder-color);
    opacity: .6;
    font: 1.4rem;
    font-weight: 600;
}

.form-dision_textarea{
    font-size: 1.4rem;

    padding: 2rem;
    height: 9.8rem;
    resize: none;
}

.form > .btn{
    margin: 3.5rem auto 0 auto;
    padding: 1.2rem 2.8rem;

    background-color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}